<h5>Update Mount</h5>
<br>
<form action="/users/{{user.id}}/mounts/{{mount.id}}?_method=PUT" method="POST">
	<div>
		<label for="name">Name: </label><Br>
		<input type="text" name="name" value="{{mount.name}}">
	</div>
	<div>
		<label for="location">Location: </label><br>
		<input type="text" name="location" value="{{mount.foundAt}}">
	</div>
	<div>
		<label for="type">Obtained: </label><br>
		<input type="text" name="obtained" value="{{mount.obtainedHow}}">
	</div>
	<div>
		<label for="imgUrl">Image URL: </label><br>
		<input type="text" name="icon" value="{{mount.icon}}">
	</div>
	<div>
		<label for="description">Description: </label><br>
		<input type="text" name="description" value="{{mount.description}}">
	</div>


<br>
	<div>
		<input class="btn btn-warning" type="submit" value="Update Mount">
	</div>
</form>

<form action="/users/{{user.id}}/mounts/{{mount.id}}?_method=DELETE" method="POST">
	<input class="btn btn-danger" type="submit" value="Remove Mount">
</form>
