{{mount.icon}}
<h5>{{mount.name}}</h5>
{{mount.foundAt}}<br>
{{mount.obtainedHow}}<br>
{{mount.description}}<br>
{{mount.description}}<br>











<br>











<form action="/users/{{user.id}}/mounts/{{mount.id}}?_method=PUT" method="POST">
	<div>
		<label for="name">Name: </label><Br>
		<input type="text" name="name" value="{{mount.name}}">
	</div>
	<div>
		<label for="foundAt">Location: </label><br>
		<input type="text" name="foundAt" value="{{mount.foundAt}}">
	</div>
	<div>
		<label for="obtainedHow">Obtained: </label><br>
		<input type="text" name="obtainedHow" value="{{mount.obtainedHow}}">
	</div>
	<div>
		<label for="icon">Icon Url: </label><br>
		<input type="text" name="icon" value="{{mount.icon}}">
	</div>
	<div>
		<label for="description">Description: </label><br>
		<input type="text" name="description" value="{{mount.description}}">
	</div>

<br>
	<div>
		<input type="submit" value="Update Mount">
	</div>
</form>

<form action="/users/{{user.id}}/mounts/{{mount.id}}?_method=DELETE" method="POST">
	<input class="btn btn-danger" type="submit" value="Remove Mount">
</form>
