<div id="nav_bar">
	<div class='leftNav'>
		<div class="homeLogo"><a href='/'><img class='achieve'src="https://s3.amazonaws.com/achgenwow/t/n_sKV0skZu.png"></a>
		</div>
	</div>
	<div class='rightNav'>
		<span><a href='/about'>/About/</a></span>
		<span class='spanLogout'><form class='logoutButton' method="post" action="/sessions?_method=DELETE">
		<input class='logoutButton' type="submit" value="/Logout/"></span>
		</form>
	</div>
</div>

<h1 class="userNameShow"> Hello {{user.username}}!</h1>

<ul>
 {{#each user.mounts}}
 <div class="eachMount">
 	<li><h4>{{name}}</h4></li>
	<li><a href="/users/{{../user.id}}/mounts/{{id}}/edit"><img src="{{icon}}" alt="Mount Image" class="mountPic"></a></li>
	<li><b>Date Obtained</b><span style="size: 2px; font-size: 20px;">:</span> {{dateObtained}}</li>
	<li><b>Found At</b><span style="size: 2px; font-size: 20px;">:</span> {{foundAt}}</li>
	<li><b>Obtained Via</b><span style="size: 2px; font-size: 20px;">:</span> {{obtainedHow}}</li>
	<li><b>Description</b><span style="size: 2px; font-size: 20px;">:</span> {{description}}</li>
</div>
{{/each}}
</ul>

<br>
<br>
<br>
<br>
<br>


<div class="createNewContainer">
<h3 class="addANewMountTitle">Add A New Mount</h3>

<form action="/users/{{user.id}}/mounts" method="POST" class="newMountForm">
	<div>
		<label for="name"></label><Br>
		<input placeholder="Mount Name" type="text" name="name" value="{{mount.name}}">
	</div>
	<div>
		<label for="foundAt"></label><br>
		<input placeholder="Location" type="text" name="foundAt" value="{{mount.foundAt}}">
	</div>
	<div>
		<label for="obtainedHow"></label><br>
		<input placeholder="How It Was Obtained" type="text" name="obtainedHow" value="{{mount.obtainedHow}}">
	</div>
	<div>
		<label for="icon"></label><br>
		<input placeholder="Icon Url" type="text" name="icon" value="{{mount.icon}}">
	</div>
	<div>
		<label for="description"></label><br>
		<input placeholder="Description" type="text" name="description" value="{{mount.description}}">
	</div>
	<div>
		<input class="btn btn-primary" type="submit" value="Create Mount">
	</div>
</form>
</div>
