<h1><a href='/'>Mountacular</a></h1><br>
<h1> Hello {{user.username}}!</h1>

<div>
<h6> {{#each mount}} </h6>
	<li>{{this.icon}}</li>
	<li><h3>{{this.name}}</h3></li>
	<li><b>Quaility: </b>{{this.qualityId}}</li>
	<li><b>Ground Mount?: </b>{{this.isGround}}</li>
	<li><b>Flying?: </b>{{this.isFlying}}</li>
	<li><b>Aquatic?: </b>{{this.isAquatic}}</li>
	<li><b>Can it Jump?: </b>{{this.isJumping}}</li>
	<li><b>Date Obtained: </b> {{this.dateObtained}}</li>
	<li><b>Location: </b> {{this.foundAt}}</li>
	<li><b>Obtained Via: </b> {{this.obtainedHow}}</li>
	<li><b>Description: </b> {{this.description}}</li>
{{/each}}
</div>